@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    background-image: url(images/bgnewpixel.png);
    height: 100vh;

}

#textprint #footer {
    margin-left: 10%;
    margin-right: 10%;

}

#myText {
    margin-left: 50px;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 20%;
    background-color: salmon;
    color: blanchedalmond;
    width: 5em;
    height: 2em;
    font-size: 1em;
}

#btn {
    border: 5px solid black;
    border-radius: 20%;
    font-size: 0.5em;
    background-color: salmon;

}

label {
    margin-left: 250px;
    font-weight: 800;
    color: black;
}

input {
    border-width: 20%;

}

form {
    font-size: 3em;
    font-family: 'Pacifico', cursive;

}

#textprint {
    font-family: 'Pacifico', cursive;
    font-size: 3em;
    color: teal;
    font-weight: 500;
    margin-left: 250px;
    font-weight: 800;
}

#print {
    font-family: 'Pacifico', cursive;
    color: rgb(255, 65, 160);
    margin-left: 250px;
    background-color: rgba(28, 250, 239, 0.63);
    border-radius: 50px;
    width: 65%;
}

a {
    font-family: 'Pacifico', cursive;
    font-size: 3em;
    color: black;
    margin-left: 350px;
    font-weight: 1000;
    background-color: rgba(255, 248, 220, 0.527);
    border-radius: 40%;
}